/* custom media query breakpoints */
@custom-media --sm (width >=480px);
@custom-media --md (width >=926px);
@custom-media --lg (width >=1201px);
@custom-media --xl (width >=1440px);

@custom-media --rsm (width <=480px);
@custom-media --rmd (width <=926px);
@custom-media --rlg (width <=1201px);
@custom-media --rxl (width <=1440px);


.test{
    color:red;
    @media(--rmd){
        display: none !important;
    }
}
.logoMark{
    display: grid;
    place-items: center;
    min-height:75px;
    margin-left:1.5rem;
   
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1500px;
}
.normalTopBar{
    display:flex;
    @media(--rmd){
        display: none !important;
    }
    z-index: 999;
}
.Nav{
    width: 100%;
    justify-content: space-between;
    /* padding-block: var(--space-xs); */
    background-color: hsl(var(--muted));
    box-shadow: var(--shadow-sm);
    display: flex;
    & ul {
        display: flex;
        gap: var(--space-sm);
    }
}
.loginRegisterDiv{
    display:flex;
    align-items:center;
    gap:0.5em;
    margin-right:1.5rem;
}