---

//component imports
import Link from "./Link.astro"

const {name,url, description} = Astro.props;

---


<article class="card">

        <h1>{name}</h1>
        <hr>
        <p>{description}</p>
        <Link 
                href={url}
                text="Zobacz"
                style="secondary"
                />


</article>