---
import ExzoneLayout from "../../layouts/ExzoneLayput.astro";
import ProgramCard from "../../components/ProgramCard.astro";
import programsData from "../../data/programsData"
import Link from "../../components/Link.astro";
---
<ExzoneLayout title='Exclusion Zone'>
    <section class="container aboutZone" aria-label="About Me">
		Exclusion Zone to luźno inspirowany SCP i serią S.T.A.L.K.E.R projek polegający na stworzeniu kompendium danaych i lore fikcyjnego uniwersum w którym wsytępują anomalię, mutanty, frakcje oraz konkretne lokalizacje w objętej częściową apokalipsą europie.
    </section>
	<section>
        Z Danych technicznych:
        <ul>
            <li>Baza danych : PostgreSQL</li>
            <li>BackEnd : SpringBoot</li>
            <li>FrontEnd : Astro + React</li>
        </ul>
    </section>
</ExzoneLayout>