---
import FabBooking from "../../components/Fab_booking.astro"
import BlankLayout from "../../layouts/BlankLayout.astro"
import FABCal from "../../components/FAB_cal.astro"
---
<BlankLayout title='Prezentacja technologi bookingu!'>
    <div class="dumy-page">
        <h1>Hello eyeDoctor!</h1>
        <FabBooking id='dialog' open='Open modal'/>
        <FABCal id="dialog2" open="Open modal"
    </div>
</BlankLayout>



<style>
    .dumy-page{
        height: 30000px;
    }
</style>
